<nav class="navbar">
  <div class="container primary-navbar">
    <div class="logo">
      <a href="#" class="brand">Shop<span>Me</span></a>
    </div>
    <div class="search-bar">
      <input type="search" class="search-input" placeholder="Search..." />
    </div>
    <div class="burger" [class.menu-icon]="change_icon" (click)="burgerMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-links">
      <ul class="navbar-list">
        <li class="nav-links">
          <a routerLink="cart">
            Cart
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
        <li class="nav-links">
          <a routerLink="sign-in"
            >Sign in
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="container secondary-navbar">
     <!-- <span class="border"></span> -->
      <div class="secondary-nav" [class.menu]="activeMenu">
        <ul>
          <li><a routerLink="home">Home </a><i class="fa fa-home" aria-hidden="true"></i></li>
          <li><a routerLink="about">About </a><i class="fa fa-clipboard" aria-hidden="true"></i></li>
          <li><a routerLink="category">Category </a><i class="fa fa-list" aria-hidden="true"></i></li>
          <li><a routerLink="contact">Contact </a><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li class="inside-links">
            <ul>
              <li><a routerLink="cart">Cart
                </a><i class="fa-solid fa-cart-shopping"></i></li>
                <li><a routerLink="sign-in">Sign in
                </a><i class="fa-solid fa-right-to-bracket"></i></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
