<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="#" class="brand">Shop<span>Me</span></a>
    </div>
    <div class="search-bar">
      <input type="search" class="search-input" placeholder="Search..." />
    </div>
    <div class="navbar-links">
      <ul class="navbar-list">
        <li class="nav-links">
          <a href="#">Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="nav-links">
          <a routerLink="sign-in"
            >Sign in
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
